* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body{
  background-image: url("white.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  height: 100%; 

    min-height: 100vh;
    display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  /* margin-top: 40px; */
  /* grid-row-gap: 105px; */
}


.main-header {
    text-align: center;    
    font-family: 'Poiret One', cursive;
}




.title {
    color: #ee8982;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 900;


}

h1 {
    font-size: 100px;
    color: #ee8982;
}

.list-group-item {
  background-color: #76a8fc;
  opacity: 0.6;
}

.card {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    background-color: #fbd977;
    border-radius: 69px;
    text-align: center;
    /* margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width: 300px;
    height: 300px;
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  

  
  .active, .dot:hover {
    background-color: #ee8982;
  }
  
